.main-section{
    border-bottom: solid 5px #576574;
    padding-top: 30px;
    background-color: #576574;
    padding-bottom: 100px;
    background: #F7882F;
   }

   .main-section .main-tittle{
       margin-bottom: 60px;
   }

   .main-section.-bgBlack{
       background-color: #000;
   }

   .main-section.-bdFirst{
       border-color: #F7882F;
   }

   