.skill-tec{
    font-family: "Prompt", Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #fff;   
    display: flex;
    align-items: center;
}

.skill-tec .icon{
    padding-right: 20px;
    width: 70px;
}

.skill-tec .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
