h1{
    font-size: 50px;
    font-weight: 600;
    font-family: "Prompt", Arial, Helvetica, sans-serif;
    color: #F7882F;
    text-align: center;
    margin: 20px 5px 10px 5px;
    text-shadow: 5px 5px 2px #000;
       
}
